s1built.bin
s1built.prev.bin
main.lst
main.log
main.p
Utility Project Files/SonLVL INI Files/dllcache/*
Utility Project Files/SonLVL INI Files/SonLVL.log

# Hivebrains comment utility
Comment.bat
Comment.exe