sound/z80.bin
sound/z80.prev.bin
sound/z80.lst
s1built.bin
s1built.prev.bin
main.lst
main.log
SonLVL INI Files/dllcache/*
SonLVL INI Files/SonLVL.log

# Hivebrains comment utility
Comment.bat
Comment.exe